################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/logger/HaiDLL/x64/Debug/vc143.pdb
